build/entertainment.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Развлечения</title>
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="width=device-width, user-scalable=0, minimal-ui" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href="/norgau/build/css/common.css" rel="stylesheet">
  </head>
  <body>
    <div class="page" id="page">
      <header class="header">
        <div class="header__wrapper-info">
          <ul class="header__links">
            <li class="header__links-item"><a class="header__links-item-link" href="#">О нас</a></li>
            <li class="header__links-item"><a class="header__links-item-link" href="#">Блог</a></li>
            <li class="header__links-item"><a class="header__links-item-link" href="#">Арендодателям</a></li>
            <li class="header__links-item"><a class="header__links-item-link" href="#">Рекламодателям</a></li>
          </ul>
          <div class="header__info">
            <div class="header__info-time">
              <div class="header__info-time-clock">10:30 - 22:00</div>
              <svg class="icon arrow " aria-hidden="true">
                <use xlink:href="/norgau/build/assets/images/required/sprite.svg#arrow"></use>
              </svg>
            </div>
            <div class="header__info-phone"><a class="header__info-phone-link" href="tel:88432270000">8 843 227-00-00</a></div>
            <div class="header__info-way"><a class="header__info-way-link" href="#">Как добраться</a></div>
            <div class="header__info-mall-scheme"><a class="header__info-mall-scheme-link" href="#">Схема этажей</a></div>
            <div class="header__info-language">En</div>
          </div>
        </div>
        <div class="header__wrapper-main">
          <div class="header__logo"><a href="#"><img src="/norgau/build/assets/images//required/logo.svg" alt="" data-src="/norgau/build/assets/images//required/logo.svg"></a></div>
          <div class="header__wrapper-menu">
            <ul class="header__menu">
              <li class="header__menu-item"><a class="header__menu-item-link" href="#">События</a></li>
              <li class="header__menu-item"><a class="header__menu-item-link" href="#">Акции</a></li>
              <li class="header__menu-item"><a class="header__menu-item-link" href="#">Магазины</a></li>
              <li class="header__menu-item"><a class="header__menu-item-link" href="#">Фуд-корт</a></li>
              <li class="header__menu-item"><a class="header__menu-item-link header__menu-item-link--active" href="#">Развлечения</a></li>
              <li class="header__menu-item"><a class="header__menu-item-link" href="#">Кинотеатр IMAX</a></li>
              <li class="header__menu-item"><a class="header__menu-item-link" href="#">Услуги</a></li>
            </ul>
            <div class="header__search">
              <form class="header__search-form is-hidden" action="">
                <label class="header__search-form-box">
                  <input class="header__search-form-input" type="text" required>
                  <div class="header__search-form-placeholder">Что вы хотите найти? Например, <span>события</span></div>
                </label>
              </form>
              <div class="header__search-btn"></div>
            </div>
          </div>
          <button class="hamburger" data-hamburger="">
            <input class="hamburger__input" type="checkbox">
            <div class="hamburger__line"></div>
          </button>
        </div>
        <div class="header__entertainments is-hidden">
          <ul class="header__entertainments-list">
            <li class="header__entertainments-list-item"><a class="header__entertainments-list-item-link" href="#">Форсаж</a></li>
            <li class="header__entertainments-list-item"><a class="header__entertainments-list-item-link" href="#">Киномакс</a></li>
            <li class="header__entertainments-list-item"><a class="header__entertainments-list-item-link" href="#">TeikaBoom</a></li>
            <li class="header__entertainments-list-item"><a class="header__entertainments-list-item-link" href="#">Мегаленд     </a></li>
          </ul>
        </div>
      </header>
      <main class="main">
        <div class="entertainments">
          <div class="container">
            <div class="breadcrumbs">
              <div class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">KazanMall</a>
              </div>
              <div class="breadcrumbs__item"><span class="breadcrumbs__text">Развлечения</span>
              </div>
            </div>
            <div class="entertainments__header">
              <h1 class="entertainments__title entertainments__title--1">Развлечения</h1>
              <ul class="entertainments__menu">
                <li class="entertainments__menu-item"><a class="entertainments__menu-item-link" href="#">Форсаж</a></li>
                <li class="entertainments__menu-item"><a class="entertainments__menu-item-link" href="#">Киномакс</a></li>
                <li class="entertainments__menu-item"><a class="entertainments__menu-item-link" href="#">TeikaBoom</a></li>
                <li class="entertainments__menu-item"><a class="entertainments__menu-item-link" href="#">Мегаленд</a></li>
              </ul>
            </div>
          </div>
          <div class="container container--afterburner">
            <div class="entertainments__afterburner">
              <h2 class="entertainments__afterburner-title entertainments__title--2">Форсаж</h2>
              <div class="row entertainments__wrapper-upper">
                <div class="col-12 col-md-6 order-2 order-md-1 entertainments__image">
                  <div class="entertainments__afterburner-image-upper"><img src="/norgau/build/assets/images/example/entertainments/afterburner/afterburner-1.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/afterburner/afterburner-1.png">
                  </div>
                  <div class="entertainments__afterburner-image-hexagon"><img src="/norgau/build/assets/images/example/entertainments/afterburner/afterburner-hexagon.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/afterburner/afterburner-hexagon.png">
                  </div>
                </div>
                <div class="col-12 col-md-6 order-1 order-md-2 entertainments__afterburner-info">
                  <div class="entertainments__info-logo"><img src="/norgau/build/assets/images/example/entertainments/afterburner/afterburner-logo.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/afterburner/afterburner-logo.png">
                  </div>
                  <div class="entertainments__info-text-wrapper">
                    <h3 class="entertainments__title entertainments__title--3">Картинг</h3>
                    <div class="entertainments__info-worktime">
                      <div class="entertainments__info-worktime-item">Пн-Чт: 10:00 - 22:00</div>
                      <div class="entertainments__info-worktime-item">Пт-Сб: 10:00 - 23:00</div>
                      <div class="entertainments__info-worktime-item">Вс: 10:00 - 21:00</div>
                    </div>
                  </div>
                  <p class="entertainments__afterburner-info-text">
                    Драйв и дух соревнования – вот, что вас 
                    ждет на наших трассах. Мы устраиваем 
                    чемпионаты, в которых команды могут 
                    побороться за настоящие призы.
                  </p>
                  <div class="entertainments__info-floor">1 этаж</div>
                  <div class="entertainments__button-wrapper entertainments__button-wrapper--afterburner"><a class="btn btn--entertainments" href="#">Принять участие в гонке</a></div>
                </div>
              </div>
              <div class="row entertainments__wrapper-bottom">
                <div class="col-12 col-md-6">
                  <div class="entertainments__button-wrapper entertainments__button-wrapper--mobile entertainments__button-wrapper--afterburner"><a class="btn btn--entertainments" href="#">Принять участие в гонке</a></div>
                  <div class="entertainments__afterburner-points">
                    <div class="entertainments__points-item">Возможность проведения соревнований различного уровня, от региональных до корпоративных.</div>
                    <div class="entertainments__points-item entertainments__points-item--reverse">4 различных вида картов, для любых возрастов.</div>
                  </div>
                </div>
                <div class="col-12 col-md-6 entertainments__afterburner-image-bottom"><img src="/norgau/build/assets/images/example/entertainments/afterburner/afterburner-2.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/afterburner/afterburner-2.png">
                </div>
              </div>
            </div>
          </div>
          <div class="container container--kinomax">
            <div class="entertainments__kinomax">
              <h2 class="entertainments__kinomax-title entertainments__title--2">Киномакс</h2>
              <div class="row entertainments__wrapper-upper">
                <div class="col-12 col-md-6 col-lg-5 entertainments__kinomax-info">
                  <div class="entertainments__info-logo"><img src="/norgau/build/assets/images/example/entertainments/kinomax/kinomax-logo.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/kinomax/kinomax-logo.png">
                  </div>
                  <div class="entertainments__info-text-wrapper">
                    <h3 class="entertainments__title entertainments__title--3">Кинотеатр</h3>
                    <div class="entertainments__info-worktime">
                      <div class="entertainments__info-worktime-item">Пн-Вс: 10:00 - 02:00</div>
                    </div>
                  </div>
                  <p class="entertainments__kinomax-info-text">
                    Современные технологии, комфортные залы, 
                    богатый репертуар, IMAX с 10-ти метровым 
                    экраном и возможность заказа еды 
                    из ресторана прямо в зал позволят всем 
                    любителям кино насладиться сеанасом 
                    и отлично провести время.
                  </p>
                  <div class="entertainments__info-floor">5 этаж</div>
                  <div class="entertainments__button-wrapper entertainments__button-wrapper--kinomax"><a class="btn btn--entertainments" href="#">Посмотреть все сеансы</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 entertainments__image">
                  <div class="entertainments__kinomax-image-upper"><img src="/norgau/build/assets/images/example/entertainments/kinomax/kinomax-1.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/kinomax/kinomax-1.png">
                  </div>
                  <div class="entertainments__kinomax-image-hexagon"><img src="/norgau/build/assets/images/example/entertainments/kinomax/kinomax-hexagon.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/kinomax/kinomax-hexagon.png">
                  </div>
                </div>
              </div>
              <div class="row entertainments__wrapper-bottom">
                <div class="col-12 col-md-6 entertainments__kinomax-image-bottom"><img src="/norgau/build/assets/images/example/entertainments/kinomax/kinomax-2.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/kinomax/kinomax-2.png">
                </div>
                <div class="col-12 col-md-6">
                  <div class="entertainments__kinomax-points">
                    <div class="entertainments__points-item">9 кинозалов IMAX на 236 мест.</div>
                    <div class="entertainments__points-item">Кинотеатр Imax самый крупный в Казани: высота экрана 10 м в высоту.</div>
                    <div class="entertainments__points-item">Все форматы показов гарантируют полное погружение в сюжет.</div>
                    <div class="entertainments__points-item">Заказ еды из ресторана прямо в кинотеатр. </div>
                  </div>
                  <div class="entertainments__button-wrapper entertainments__button-wrapper--mobile entertainments__button-wrapper--kinomax"><a class="btn btn--entertainments" href="#">Посмотреть все сеансы</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="container container--megaland">
            <div class="entertainments__megaland">
              <h2 class="entertainments__megaland-title entertainments__title--2">Мегаленд</h2>
              <div class="row entertainments__wrapper-upper">
                <div class="col-12 col-md-6 order-2 order-md-1 entertainments__image">
                  <div class="entertainments__megaland-image-upper"><img src="/norgau/build/assets/images/example/entertainments/megaland/megaland-1.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/megaland/megaland-1.png">
                  </div>
                  <div class="entertainments__megaland-image-upper--square"><img src="/norgau/build/assets/images/example/entertainments/megaland/megaland-1-square.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/megaland/megaland-1-square.png">
                  </div>
                  <div class="entertainments__megaland-image-hexagon"><img src="/norgau/build/assets/images/example/entertainments/megaland/megaland-hexagon.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/megaland/megaland-hexagon.png">
                  </div>
                </div>
                <div class="col-12 col-md-6 order-1 order-md-2 entertainments__megaland-info">
                  <div class="entertainments__info-wrapper">
                    <div class="entertainments__info-logo"><img src="/norgau/build/assets/images/example/entertainments/megaland/megaland-logo.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/megaland/megaland-logo.png">
                    </div>
                    <div class="entertainments__info-text-wrapper entertainments__info-text-wrapper--large">
                      <h3 class="entertainments__title entertainments__title--3">Веревочный экстрим-парк для детей и взрослых</h3>
                      <div class="entertainments__info-worktime entertainments__info-worktime--large">
                        <div class="entertainments__info-worktime-item">Пн-Чт: 10:00 - 22:00</div>
                        <div class="entertainments__info-worktime-item">Пт-Сб: 10:00 - 23:00</div>
                        <div class="entertainments__info-worktime-item">Вс: 10:00 - 21:00</div>
                      </div>
                    </div>
                  </div>
                  <p class="entertainments__megaland-info-text">
                    Если вы любите активно проводить время, вам 
                    понравится в веревочном развлекательном  
                    экстрим-парке Мегалэнд.
                  </p>
                  <div class="entertainments__info-floor">5 этаж</div>
                  <div class="entertainments__button-wrapper entertainments__button-wrapper--megaland"><a class="btn btn--entertainments" href="#">Подробнее о парке</a></div>
                </div>
              </div>
              <div class="row entertainments__wrapper-bottom">
                <div class="col-12 col-md-6">
                  <div class="entertainments__megaland-points">
                    <div class="entertainments__points-item">Мегаленд – это аттракционы, веревочный экстрим парк, батуты, лабиринты,  кафетерий и собственный детский сад.</div>
                    <div class="entertainments__points-item">Высота веревочного парка равна трехэтажному дому.</div>
                    <div class="entertainments__points-item">В веревочном парке все участники снаряжены альпинистским снаряжением и находятся под чутким присмотром специалистов парка, что гарантирует безопасность всем участникам.</div>
                  </div>
                  <div class="entertainments__button-wrapper entertainments__button-wrapper--mobile entertainments__button-wrapper--megaland"><a class="btn btn--entertainments" href="#">Подробнее о парке</a></div>
                </div>
                <div class="col-12 col-md-6 entertainments__megaland-image-bottom"><img src="/norgau/build/assets/images/example/entertainments/megaland/megaland-2.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/megaland/megaland-2.png">
                </div>
              </div>
            </div>
          </div>
          <div class="container container--teilkaboom">
            <div class="entertainments__teilkaboom">
              <h2 class="entertainments__teilkaboom-title entertainments__title--2">TeilkaBoom</h2>
              <div class="row entertainments__wrapper-upper">
                <div class="col-12 col-md-6 col-lg-5 entertainments__teilkaboom-info">
                  <div class="entertainments__info-logo"><img src="/norgau/build/assets/images/example/entertainments/teilkaboom/teilkaboom-logo.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/teilkaboom/teilkaboom-logo.png">
                  </div>
                  <div class="entertainments__info-text-wrapper">
                    <h3 class="entertainments__title entertainments__title--3">Семейный активити парк</h3>
                    <div class="entertainments__info-worktime">
                      <div class="entertainments__info-worktime-item">Пн-Пт: 10:00 - 22:00</div>
                      <div class="entertainments__info-worktime-item">Сб-Вс: 10:00 - 23:00</div>
                    </div>
                  </div>
                  <p class="entertainments__teilkaboom-info-text">
                    Команда TeikaBoom постарались, чтобы
                    в  современных и больших активити парках 
                    с оригинальными интерьерами, огромной 
                    игровой зоной, аттракционами, домиками 
                    для проведения праздников, атмосферными 
                    ресторанами и кафе было комфортно всем 
                    и каждому, и взрослым и детям!
                  </p>
                  <div class="entertainments__info-floor">5 этаж</div>
                  <div class="entertainments__button-wrapper entertainments__button-wrapper--teilkaboom"><a class="btn btn--entertainments" href="#">Подробнее о парке</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 entertainments__image">
                  <div class="entertainments__teilkaboom-image-upper"><img src="/norgau/build/assets/images/example/entertainments/teilkaboom/teilkaboom-1.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/teilkaboom/teilkaboom-1.png">
                  </div>
                  <div class="entertainments__teilkaboom-image-hexagon"><img src="/norgau/build/assets/images/example/entertainments/teilkaboom/teilkaboom-hexagon.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/teilkaboom/teilkaboom-hexagon.png">
                  </div>
                </div>
              </div>
              <div class="row entertainments__wrapper-bottom">
                <div class="col-12 col-md-6 entertainments__teilkaboom-image-bottom"><img src="/norgau/build/assets/images/example/entertainments/teilkaboom/teilkaboom-2.png" alt="" data-src="/norgau/build/assets/images/example/entertainments/teilkaboom/teilkaboom-2.png">
                </div>
                <div class="col-12 col-md-6">
                  <div class="entertainments__teilkaboom-points">
                    <div class="entertainments__points-item">30 аттракционов и игровых зон.</div>
                    <div class="entertainments__points-item">Организация детских праздников под ключ.</div>
                    <div class="entertainments__points-item">Разнотематические мастер-классы для детей разных возрастов.</div>
                  </div>
                  <div class="entertainments__button-wrapper entertainments__button-wrapper--mobile entertainments__button-wrapper--teilkaboom"><a class="btn btn--entertainments" href="#">Подробнее о парке</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container container--follow">
          <div class="subscription" data-subscription="">
            <div class="subscription__title">Не пропустите все самое интересное!</div>
            <form class="subscription__form" data-subscription-form>
              <div class="subscription__form-wrapper">
                <div class="subscription__form-wrapper-input">
                  <div class="subscription__form-thanks is-hidden" data-subscription-thanks>Спасибо! Подписка успешно оформлена</div>
                  <label class="subscription__form-label is-hidden">Ваша электронная почта </label>
                  <input class="subscription__form-input" data-subscription-input aria-required="true" type="text" name="email" placeholder="Ваша электронная почта">
                </div>
                <button class="btn btn--subscription" data-subscription-btn></button>
              </div>
              <div class="subscription__form-wrapper-checkbox">
                <input class="subscription__form-checkbox" type="checkbox" id="id_1" data-subscription-checkbox>
                <label class="subscription__form-checkbox-text" for="id_1">Согласен с</label><a class="subscription__form-checkbox-link" href="#">Политикой конфиденциальности</a>
              </div>
              <div class="subscription__button-wrapper subscription__button-wrapper--mobile">
                <button class="btn btn--subscription-wide" data-subscription-btn>Подписаться на новости</button>
              </div>
            </form>
          </div>
        </div>
      </main>
      <div class="container container--footer">
        <footer class="footer" data-footer>
          <div class="footer__menu">
            <div class="footer__wrapper-first">
              <div class="footer__block">
                <div class="footer__block-title-wrapper" data-footer-title>
                  <div class="footer__block-title">Контакты</div>
                  <svg class="icon arrow " aria-hidden="true">
                    <use xlink:href="/norgau/build/assets/images/required/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <div class="footer__block-wrapper">
                  <div class="footer__block-item-contacts">г. Казань, ул. Павлюхина, д. 91</div><a class="footer__block-link-contacts" href="#">Как добраться</a>
                  <div class="footer__block-item-contacts">Время работы: 10:00 - 22:00</div><a class="footer__block-link-contacts" href="tel:88432270000">8 843 227-00-00</a>
                </div>
              </div>
              <div class="footer__block">
                <div class="footer__block-title-wrapper" data-footer-title>
                  <div class="footer__block-title">KazanMall</div>
                  <svg class="icon arrow " aria-hidden="true">
                    <use xlink:href="/norgau/build/assets/images/required/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <div class="footer__block-wrapper"><a class="footer__block-link" href="#">События</a><a class="footer__block-link" href="#">Акции</a><a class="footer__block-link" href="#">Магазины</a><a class="footer__block-link" href="#">Еда</a><a class="footer__block-link" href="#">Развлечения</a><a class="footer__block-link" href="#">Услуги</a><a class="footer__block-link" href="#">Кинотеатр</a><a class="footer__block-link" href="#">О нас</a><a class="footer__block-link" href="#">Блог</a></div>
              </div>
            </div>
            <div class="footer__wrapper-second">
              <div class="footer__block">
                <div class="footer__block-title-wrapper" data-footer-title>
                  <div class="footer__block-title">Сотрудничество</div>
                  <svg class="icon arrow " aria-hidden="true">
                    <use xlink:href="/norgau/build/assets/images/required/sprite.svg#arrow"></use>
                  </svg>
                </div>
                <div class="footer__block-wrapper"><a class="footer__block-link" href="#">Личный кабинет</a><a class="footer__block-link" href="#">Арендаторам</a><a class="footer__block-link" href="#">Рекламодателям</a></div>
              </div>
              <div class="footer__socials">
                <div class="footer__socials-title">Мы в социальных сетях</div><a class="footer__socials-link" href="#" target="_blank"><img src="/norgau/build/assets/images/required/instagram.svg" alt="" data-src="/norgau/build/assets/images/required/instagram.svg"></a><a class="footer__socials-link" href="#" target="_blank"><img src="/norgau/build/assets/images/required/facebook.svg" alt="" data-src="/norgau/build/assets/images/required/facebook.svg"></a><a class="footer__socials-link" href="#" target="_blank"><img src="/norgau/build/assets/images/required/Vkontakte.svg" alt="" data-src="/norgau/build/assets/images/required/Vkontakte.svg"></a>
              </div>
            </div>
          </div>
          <div class="footer__info">
            <div class="footer__info-confidentiality">
              <div class="footer__info-confidentiality-company">2020 KazanMall</div><a class="footer__info-confidentiality-text" href="#">Политика конфидентциальности</a>
            </div>
            <div class="footer__info-development">
              <div class="footer__info-development-text">Разработка <a href="#">Progressive Media</a></div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="/norgau/build/js/common.js" defer></script>
    <script src="/norgau/build/js/entertainment.js" defer></script>
  </body>
</html>

app/pages/entertainment.pug
extends template/layout
include ../components/breadcrumbs/breadcrumbs
include ../components/subscription/subscription

block variables
  - var title = 'Развлечения'

block content
  .entertainments
    .container
      +breadcrumbs({
        list: [
          {
            text: 'KazanMall',
            href: '#'
          },
          {
            text: 'Развлечения',
          }
        ]
      })

      .entertainments__header
        h1.entertainments__title.entertainments__title--1 Развлечения
        ul.entertainments__menu
          li.entertainments__menu-item
            a(href='#').entertainments__menu-item-link Форсаж
          li.entertainments__menu-item
            a(href='#').entertainments__menu-item-link Киномакс
          li.entertainments__menu-item
            a(href='#').entertainments__menu-item-link TeikaBoom
          li.entertainments__menu-item
            a(href='#').entertainments__menu-item-link Мегаленд

    .container.container--afterburner
      .entertainments__afterburner
        h2.entertainments__afterburner-title.entertainments__title--2 Форсаж
        .row.entertainments__wrapper-upper
          .col-12.col-md-6.order-2.order-md-1.entertainments__image
            .entertainments__afterburner-image-upper
              +img('example/entertainments/afterburner/afterburner-1.png')
            .entertainments__afterburner-image-hexagon
              +img('example/entertainments/afterburner/afterburner-hexagon.png')
          .col-12.col-md-6.order-1.order-md-2.entertainments__afterburner-info
            .entertainments__info-logo
              +img('example/entertainments/afterburner/afterburner-logo.png')
            .entertainments__info-text-wrapper
              h3.entertainments__title.entertainments__title--3 Картинг
              .entertainments__info-worktime
                .entertainments__info-worktime-item Пн-Чт: 10:00 - 22:00
                .entertainments__info-worktime-item Пт-Сб: 10:00 - 23:00
                .entertainments__info-worktime-item Вс: 10:00 - 21:00
            p.entertainments__afterburner-info-text
              | Драйв и дух соревнования – вот, что вас 
              | ждет на наших трассах. Мы устраиваем 
              | чемпионаты, в которых команды могут 
              | побороться за настоящие призы.
            .entertainments__info-floor 1 этаж
            .entertainments__button-wrapper.entertainments__button-wrapper--afterburner
              a(href='#').btn.btn--entertainments Принять участие в гонке
        .row.entertainments__wrapper-bottom
          .col-12.col-md-6
            .entertainments__button-wrapper.entertainments__button-wrapper--mobile.entertainments__button-wrapper--afterburner
              a(href='#').btn.btn--entertainments Принять участие в гонке
            .entertainments__afterburner-points
              .entertainments__points-item Возможность проведения соревнований различного уровня, от региональных до корпоративных.
              .entertainments__points-item.entertainments__points-item--reverse 4 различных вида картов, для любых возрастов.
          .col-12.col-md-6.entertainments__afterburner-image-bottom
            +img('example/entertainments/afterburner/afterburner-2.png')

    .container.container--kinomax
      .entertainments__kinomax
        h2.entertainments__kinomax-title.entertainments__title--2 Киномакс
        .row.entertainments__wrapper-upper
          .col-12.col-md-6.col-lg-5.entertainments__kinomax-info
            .entertainments__info-logo
              +img('example/entertainments/kinomax/kinomax-logo.png')
            .entertainments__info-text-wrapper
              h3.entertainments__title.entertainments__title--3 Кинотеатр
              .entertainments__info-worktime
                .entertainments__info-worktime-item Пн-Вс: 10:00 - 02:00
            p.entertainments__kinomax-info-text
              | Современные технологии, комфортные залы, 
              | богатый репертуар, IMAX с 10-ти метровым 
              | экраном и возможность заказа еды 
              | из ресторана прямо в зал позволят всем 
              | любителям кино насладиться сеанасом 
              | и отлично провести время.
            .entertainments__info-floor 5 этаж
            .entertainments__button-wrapper.entertainments__button-wrapper--kinomax
              a(href='#').btn.btn--entertainments Посмотреть все сеансы
          .col-12.col-md-6.col-lg-7.entertainments__image
            .entertainments__kinomax-image-upper
              +img('example/entertainments/kinomax/kinomax-1.png')
            .entertainments__kinomax-image-hexagon
              +img('example/entertainments/kinomax/kinomax-hexagon.png')
        .row.entertainments__wrapper-bottom
          .col-12.col-md-6.entertainments__kinomax-image-bottom
            +img('example/entertainments/kinomax/kinomax-2.png')
          .col-12.col-md-6
            .entertainments__kinomax-points
              .entertainments__points-item 9 кинозалов IMAX на 236 мест.
              .entertainments__points-item Кинотеатр Imax самый крупный в Казани: высота экрана 10 м в высоту.
              .entertainments__points-item Все форматы показов гарантируют полное погружение в сюжет.
              .entertainments__points-item Заказ еды из ресторана прямо в кинотеатр. 
            .entertainments__button-wrapper.entertainments__button-wrapper--mobile.entertainments__button-wrapper--kinomax
              a(href='#').btn.btn--entertainments Посмотреть все сеансы

    .container.container--megaland
      .entertainments__megaland
        h2.entertainments__megaland-title.entertainments__title--2 Мегаленд
        .row.entertainments__wrapper-upper
          .col-12.col-md-6.order-2.order-md-1.entertainments__image
            .entertainments__megaland-image-upper
              +img('example/entertainments/megaland/megaland-1.png')
            .entertainments__megaland-image-upper--square
              +img('example/entertainments/megaland/megaland-1-square.png')
            .entertainments__megaland-image-hexagon
              +img('example/entertainments/megaland/megaland-hexagon.png')
          .col-12.col-md-6.order-1.order-md-2.entertainments__megaland-info
            .entertainments__info-wrapper
              .entertainments__info-logo
                +img('example/entertainments/megaland/megaland-logo.png')
              .entertainments__info-text-wrapper.entertainments__info-text-wrapper--large
                h3.entertainments__title.entertainments__title--3 Веревочный экстрим-парк для детей и взрослых
                .entertainments__info-worktime.entertainments__info-worktime--large
                  .entertainments__info-worktime-item Пн-Чт: 10:00 - 22:00
                  .entertainments__info-worktime-item Пт-Сб: 10:00 - 23:00
                  .entertainments__info-worktime-item Вс: 10:00 - 21:00
            p.entertainments__megaland-info-text
              | Если вы любите активно проводить время, вам 
              | понравится в веревочном развлекательном  
              | экстрим-парке Мегалэнд.
            .entertainments__info-floor 5 этаж
            .entertainments__button-wrapper.entertainments__button-wrapper--megaland
              a(href='#').btn.btn--entertainments Подробнее о парке
        .row.entertainments__wrapper-bottom
          .col-12.col-md-6
            .entertainments__megaland-points
              .entertainments__points-item Мегаленд – это аттракционы, веревочный экстрим парк, батуты, лабиринты,  кафетерий и собственный детский сад.
              .entertainments__points-item Высота веревочного парка равна трехэтажному дому.
              .entertainments__points-item В веревочном парке все участники снаряжены альпинистским снаряжением и находятся под чутким присмотром специалистов парка, что гарантирует безопасность всем участникам.
            .entertainments__button-wrapper.entertainments__button-wrapper--mobile.entertainments__button-wrapper--megaland
              a(href='#').btn.btn--entertainments Подробнее о парке
          .col-12.col-md-6.entertainments__megaland-image-bottom
            +img('example/entertainments/megaland/megaland-2.png')

    .container.container--teilkaboom
      .entertainments__teilkaboom
        h2.entertainments__teilkaboom-title.entertainments__title--2 TeilkaBoom
        .row.entertainments__wrapper-upper
          .col-12.col-md-6.col-lg-5.entertainments__teilkaboom-info
            .entertainments__info-logo
              +img('example/entertainments/teilkaboom/teilkaboom-logo.png')
            .entertainments__info-text-wrapper
              h3.entertainments__title.entertainments__title--3 Семейный активити парк
              .entertainments__info-worktime
                .entertainments__info-worktime-item Пн-Пт: 10:00 - 22:00
                .entertainments__info-worktime-item Сб-Вс: 10:00 - 23:00
            p.entertainments__teilkaboom-info-text
              | Команда TeikaBoom постарались, чтобы
              | в  современных и больших активити парках 
              | с оригинальными интерьерами, огромной 
              | игровой зоной, аттракционами, домиками 
              | для проведения праздников, атмосферными 
              | ресторанами и кафе было комфортно всем 
              | и каждому, и взрослым и детям!
            .entertainments__info-floor 5 этаж
            .entertainments__button-wrapper.entertainments__button-wrapper--teilkaboom
              a(href='#').btn.btn--entertainments Подробнее о парке
          .col-12.col-md-6.col-lg-7.entertainments__image
            .entertainments__teilkaboom-image-upper
              +img('example/entertainments/teilkaboom/teilkaboom-1.png')
            .entertainments__teilkaboom-image-hexagon
              +img('example/entertainments/teilkaboom/teilkaboom-hexagon.png')
        .row.entertainments__wrapper-bottom
          .col-12.col-md-6.entertainments__teilkaboom-image-bottom
            +img('example/entertainments/teilkaboom/teilkaboom-2.png')
          .col-12.col-md-6
            .entertainments__teilkaboom-points
              .entertainments__points-item 30 аттракционов и игровых зон.
              .entertainments__points-item Организация детских праздников под ключ.
              .entertainments__points-item Разнотематические мастер-классы для детей разных возрастов.
            .entertainments__button-wrapper.entertainments__button-wrapper--mobile.entertainments__button-wrapper--teilkaboom
              a(href='#').btn.btn--entertainments Подробнее о парке
  .container.container--follow
    +subscription({})


              
